/build
/.idea/workspace.xml
/project-config-local.json
/node_modules
/LOADER
/CORDOVA/www
/CORDOVA/platforms/android/ant-build
/CORDOVA/platforms/android/CordovaLib/ant-build
/CORDOVA/platforms/android/assets/www
/www/**/*.css
/www/magic
/www/index.html
/www/index-cordova.html
/www/assets/fonts/glyphicons-halflings-regular.*
