<div class="container" id="app">
	<br/>
	<div class="row">
		<div class="col-xs-12">
			<div class="panel">
				<div class="panel-body">
					<div class="task-progress">
						<h1>App title</h1>
						<p>This is an example about a new app with loader, that idea is will replace it with new app and mantain the same structure</p>
					</div>
				</div>
				<hr/>
				<div class="panel-body" ng-controller="MainCtrl as main">
					<div class="row">
						<div class="col-xs-6">
							<div class="kitten1 normalPicture"></div>
						</div>
						<div class="col-xs-6">
							<div class="kitten2 normalPicture"></div>
						</div>
						<div class="clearfix"></div>
						<br/>
						<div class="col-xs-12">
							Data from <b>LOCAL</b> json file: <div style="color:green;" ng-bind="localData"></div>
						</div>
						<div class="col-xs-12">
							Data from <b>REMOTE</b> json file: <div style="color:green;" ng-bind="remoteData"></div>
						</div>
						<br/>
						<div class="col-xs-12">
							<msg-bold-directive>text transcluded {{ model.result }}</msg-bold-directive>
						</div>
						<div class="clearfix"></div>
						<div class="col-xs-12">
							<div>NG-View:</div>
							<div ng-view></div>
							<br/>
							<div>
								<button ng-click="page(0)" ng-class="{'btn-shadow': pageSelected === 0}" class="btn btn-default">default</button>
								<button ng-click="page(1)" ng-class="{'btn-shadow': pageSelected === 1}" class="btn btn-primary">primary</button>
								<button ng-click="page(2)" ng-class="{'btn-shadow': pageSelected === 2}" class="btn btn-success">success</button>
								<button ng-click="page(3)" ng-class="{'btn-shadow': pageSelected === 3}" class="btn btn-info">info</button>
								<button ng-click="page(4)" ng-class="{'btn-shadow': pageSelected === 4}" class="btn btn-warning">warning</button>
								<button ng-click="page(5)" ng-class="{'btn-shadow': pageSelected === 5}" class="btn btn-danger">danger</button>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="col-xs-12">
							<div>Sprites:</div>
							<div class="kitten3"></div>
						</div>
						<div class="clearfix"></div>
						<div class="col-xs-6">
							<div class="kitten4 normalPicture"></div>
						</div>
						<div class="col-xs-6">
							<div class="kitten5 normalPicture"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



