body {
	color: #FF0;
	-webkit-transform: rotateX(150deg);
	transform: rotateX(150deg);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	border: 0px;
}
body div {
	background: red;
	-webkit-transform: rotate(7deg);
	transform: rotate(7deg);
}
