body {
	color: #FF0;
	-webkit-transform: rotateX(150deg);
	transform: rotateX(150deg);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	border: 0;
}
body div {
	background: #f00;
	-webkit-transform: rotate(7deg);
	transform: rotate(7deg);
}
