html, body, #mainContainer {
	position: relative;
	height: 100%;
}
body {
	background: #FF766C;
	//font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

