$colorBg: #ffffff;

html{
	background-color: $colorBg;
}

.fullscreen {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}

.noscript{
	z-index: 1000;
	position: absolute;
	margin: 15px;
	background-color: $colorBg;
	color: #000000;
	a{
		color: black;
	}
}

.wrapCenter {
	width: 100px;
	height: 100px;
	position: absolute;
	margin: auto;
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
}

.fadeout {
	animation: fadeout 1s linear;
	visibility: hidden;
}
.fadein {
	animation: fadein 1s linear;
}

.fadeout50 {
	animation: fadeout50 1s linear;
	visibility: hidden;
}
.fadein50 {
	animation: fadein50 1s linear;
}

@keyframes fadeout {
	0%	{ opacity: 1; visibility: visible;}
	99%	{ opacity: 0;}
	100%	{ opacity: 0; visibility: hidden;}
}
@keyframes fadein {
	0%	{ opacity: 0; visibility: visible;}
	100%	{ opacity: 1;}
}

@keyframes fadeout50 {
	0%	{ opacity: 0.5; visibility: visible;}
	99%	{ opacity: 0;}
	100%	{ opacity: 0; visibility: hidden;}
}
@keyframes fadein50 {
	0%	{ opacity: 0; visibility: visible;}
	100%	{ opacity: 0.5;}
}

.testLoader{
	background-color: #007aff;
	color: #ffffff;
}

//JUST FOR DETECT ORIENTATION
@media screen and (orientation:portrait)  {body{background-color: inherit;}}
@media screen and (orientation:landscape) {body{background-color: inherit;}}