html{
	background-color: #ffffff;
}

.fullscreen {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}

.noscript{
	z-index: 1000;
	position: absolute;
	margin: 15px;
	background-color: #ffffff;
	color: #000000;
	a{
		color: black;
	}
}


.testLoader{
	background-color: #007aff;
	color: #ffffff;
}

//JUST FOR DETECT ORIENTATION
@media screen and (orientation:portrait)  {body{background-color: inherit;}}
@media screen and (orientation:landscape) {body{background-color: inherit;}}